=render("pig/content_packages/sitemap_header", header_title: 'Navigation manager')
.container
  .tab-content.tab-content-sitemap
    #navigation-manager.tab-pane.active
      #nav-table.sitemap
        =render('navigation_items/table', :navigation_items => NavigationItem.root)
      #nav-modal.modal.fade
        .modal-dialog
          .modal-content
