-activity_html = capture do
  =image_for(activity.user, "45x45#", :class => 'cms-thumbnail')
  -if include_name == true
    %span="#{activity.text} by #{activity.user.full_name}"
  -else
    =activity.text.try(:capitalize)
    by
    %span=activity.user.full_name
  .small-text="#{time_ago_in_words(activity.created_at)} ago"
  .clearfix

%li
  -if activity.resource && !activity.resource.viewless?
    =link_to [pig, activity.resource] do
      =activity_html
  -else
    =activity_html
