:css
  ="#{diffy_css}"

.cms-form-well
  %h3
    ="Changes compared to the published version"
  -@non_meta_content_attributes.each do |content_attribute|
    %fieldset.inputs
      %span.form-label
        %label
          =content_attribute
      %span.form-wrapper
        - current = content_package.send(content_attribute.slug).try(:html_safe)
        - live = live_content_package.send(content_attribute.slug).try(:html_safe)
        .diff
          -if live == current
            %div.diff
              %li
                %ul="No change"
          -else
            =show_diff(live, current).html_safe
    %hr
