-if can? :manage_settings, content_package
  #settings.tab-pane
    .cms-form-well
      =form.inputs do
        =form.input :content_type_id, :as => :hidden
        =form.input :name
        =form.input :notes, :label => 'Content objective/goal', :input_html => {:rows => 4}
        .form-group#content_package_personas
          %h4.col-primary Personas
          %hr
          -persona_groups.each_slice(2) do |groups|
            .row
              -groups.each do |group|
                .col-md-6
                  %h5.mb-1=group
                  =form.input :persona_ids, :as => :check_boxes, :collection => group.personas.collect{|p| [p.to_s, p.id]}, :label => false
        .clearfix
        =form.input :requested_by, :collection => Pig::User.where(role: ['admin', 'editor', 'content_and_event_editor', 'author_and_event_editor']).order('lower(last_name)')
        =form.input :due_date, :order => [:day, :month, :year], :include_blank => false, :start_year => Date.today.year
        =render('review_date', f: form)

      .form-group
        %h4.col-primary Page settings
        %hr
        =form.inputs do
          =form.input :parent_id, as: :select, collection: nested_set_options(Pig::ContentPackage, content_package) {|i| "#{'-' * i.level} #{i.name}" }
          -if can? :manage_slug, content_package
            =form.input :slug
          =form.input :logged_in_only, :as => :content_boolean, :label => "Only logged in users can view this"
          =form.input :hide_from_robots, :as => :content_boolean, :label => "Exclude from search engine indexing"
      = render "additional_settings", form: form, content_package: content_package
