%table.table
  %thead
    %tr
      %th Title
      %th Link
      %th.text-right Actions
  %tbody
    -navigation_items.root.each do |navigation_item|
      =render 'navigation_items/navigation_item', :navigation_item => navigation_item
    %tr.text-right
      %td.pt-4{:colspan => 6}
        =link_to("Reorder top level items", reorder_navigation_items_path, :class => 'btn btn-primary')
        =link_to("Add top level item", new_navigation_item_path, :remote => true, :class => 'btn btn-confirm')
