.container.page-margin-bottom
  .row
    .col-xs-12
      .cms-page-header
        .row
          .col-sm-6.col-sm-offset-3
            %h1=title 'Personas'
          .col-sm-3.cms-header-actions
            =link_to('Add persona', pig.new_admin_persona_path, :icon => 'plus', :class => 'btn btn-success')

  -@persona_groups.each do |group|
    .row
      .col-md-8
        %h3=group
    -group.personas.each_slice(4) do |personas|
      .row
        -personas.each do |persona|
          .col-md-3.col-sm-6
            .cms-well
              .row
                .col-sm-12.text-center
                  =image_for(persona, '150x150#')
                  %h4=persona.name
                  %br
                  %p.text-small=persona.category
                  =link_to('View / edit', pig.edit_admin_persona_path(persona), :class => 'btn btn-primary btn-sm')
