%li
  =image_for(activity.user, "45x45#", :class => 'cms-thumbnail')
  -if include_name == true
    =link_to activity.resource.name, edit_content_package_path(activity.resource)
    %span=" was #{activity.text} by #{activity.user.full_name}"
  -else
    =activity.text.try(:capitalize)
    by
    %span=activity.user.full_name
  .small-text="#{time_ago_in_words(activity.created_at)} ago"
  .clearfix
