//
// Scaffolding
// --------------------------------------------------

// Reset box-sizing

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

// Body reset

body {
  height: 100%;
}

html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "proxima-nova", Helvetica, sans-serif;
  color: #444444;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  @include media-query (md) {
    font-size: 18px;
  }
}
.cms-wrapper{
  max-width:1600px;
  background: $body-bg;
}
img {
  max-width: 100%;
  display: inline-block;
}

hr {
  border: none;
  height: 1px;
  color: $outline-col;
  background-color: $outline-col;
  margin-bottom: 30px;
  @include media-query (md) {
    margin-bottom: 30px;
  }
}

// Only display content to screen readers

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Clearfix

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Javascript collabsables

 .collapse {
  display: none;
  visibility: hidden;
  &.in  { 
    display: block; 
    visibility: visible; 
  }
}

