.container.page-margin-bottom
  =render('pig/admin/content_packages/sitemap_header', header_title: 'Tag management')
  .row
    .col-xs-12
      .cms-well
        %ul.cms-tag-list
          -@tag_categories.each do |cat|
            %li
              =link_to(cat.name, pig.edit_admin_tag_category_path(cat))
        %hr
        .text-center=link_to('New Tag Category', pig.new_admin_tag_category_path, :class => 'btn btn-success', :icon => 'plus')
