//
// Collapse
// --------------------------------------------------

.collapse-trigger {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  background: $body-bg;
  text-align: left;
  font-size: 18px;
  &:focus {
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    outline: none;
  }
  + .collapse {
    margin-top: 15px;
  }
  &:last-of-type {
    margin-bottom: 40px;
  }
}
.list-half {
  list-style: none;
  margin: 0 20px 30px;
  padding: 0;
  li {
    width: 50%;
    display: block;
    float: left;
    padding: 30px 0 0;
    margin: 0;
    label {
      font-size: 14px !important;
    }
  }
}
