%p="Hi #{@user.first_name},"
%p
  %li
    The web page
    =link_to "#{@content_package.name}", "#{Settings.site_url}" + pig.content_package_path(@content_package)
    has being assigned to you for updating
%p Thanks
