%p="Hi #{@user.first_name},"
%p
  =link_to "#{@content_package.name}", "#{Settings.site_url}/" + (@content_package.permalink_path ||= "content_packages/#{@content_package.id}")
  =@content
%p Thanks

