
- if Pig::Archive.active?
  - archive = Pig::Archive.new(request.fullpath)
  - if archive.exists?
    %p.error-page__text
      The page you are looking for is still on the old site
      =succeed '.' do
        = link_to('here', archive.uri)
