- if Pig::Archive.active?
  - archive = Pig::Archive.new(request.fullpath)
  - if archive.exists?
    %h1.error-title.text-center
      The page you are looking for is still on the
      =succeed '.' do
        = link_to('old site here', archive.uri)
    %br
