.col-sm-8.col-sm-offset-2
  .cms-form-well
    =semantic_form_for [pig, @persona] do |form|
      =form.inputs do
        =form.input :group, :prompt => "Please select...", :collection => Pig::PersonaGroup.all.map{|p| [p.to_s, p.id] } << ['Add a new group...', 0], :selected => (@persona.group_name.nil? ? @persona.group_id : 0)
        =form.input :group_name, :label => "New group name", :input_html => {:disabled => @persona.group_name.nil?}, :wrapper_html => {:class => "#{'hide' if @persona.group_name.nil?}"}
        =form.input :name, :label => "Persona name"
        =form.input :category, :label => "Persona category"
        =form.input :image, :as => :image
        =form.input :age
        =form.input :summary
        =form.input :benefit_1, :as => :string
        =form.input :benefit_2, :as => :string
        =form.input :benefit_3, :as => :string
        =form.input :benefit_4, :as => :string
        =form.input :file, :as => :file_with_preview, :label => "Full persona"
      =form.actions do
        =form.action :submit, :button_html => {:class => 'btn btn-success pull-right'}
        - unless @persona.new_record?
          =link_to 'Delete', pig.persona_path(@persona), method: :delete, data: { confirm: 'Are you sure you want to remove this persona? This action cannot be undone.' }, class: 'btn btn-danger'
      .clearfix

  :javascript
    PersonaForm = {
      init: function() {
        $('#persona_group_id').change(function() {
          PersonaForm.togglePersonaInputs();
        });
        PersonaForm.togglePersonaInputs();
      },
      togglePersonaInputs: function() {
        if (parseInt($('#persona_group_id').val()) === 0) {
          $('#persona_group_name_input').removeClass('hide');
          $('#persona_group_name').removeAttr('disabled');
        } else {
          $('#persona_group_name_input').addClass('hide');
          $('#persona_group_name').attr('disabled', 'disabled');
        }
      }
    };
    $(document).ready(function(){
      PersonaForm.init();
    });
