- archive = Pig::Archive.new(request)
- if archive.active? && archive.exists?
  %p.error-page__text
    But you can still access it on the old site
    =succeed '.' do
      = link_to('here', archive.uri)
