//
// Modals
// --------------------------------------------------

// Modal

.fade{
  transition: opacity 0.15s linear 0s;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 550 !important;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade .modal-dialog {
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s;
  }
  &.in .modal-dialog {
    visibility:visible;
    transform: scale(1);
    opacity: 1;
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $brand-primary-light;
  z-index: 540;
  width:100%;
  height: 100%;
  transition: all 0.3s;
  &.fade {
    opacity:0;
  }
  &.in {
    opacity:.6;
  }
}
@include media-query(sm) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@include media-query(md) {
  .modal-lg {
    width: 900px;
  }
}
.modal-header {
  padding: 15px;
  background: $brand-primary;
  min-height: (16.428571429);
  * {
    color: white;
  }
}
.modal-header .close-btn {
  color: $brand-primary;
  background: transparent;
  float: right;
  font-size: 21px;
  border:0;
  border-radius: 4px;
  width:31px;
  height:31px;
  position: relative;
  z-index: 10;
  transform: rotateZ(0deg);
  transition: transform 0.4s ease-out;
  &:hover{
    transform: rotateZ(360deg);
  }
}
.modal-title {
  margin: 0;
  line-height:  1.428571429;
}
.modal-body {
  padding: 15px 30px;
  position: relative;
  img{
    margin: 20px auto;
    max-width: 330px;
  }
  p{
    font-size: 18px;
  }
}
.modal-footer {
  padding: 0 30px 30px;
  clear:both;
  text-align: center;
  .btn + .btn {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
