//
// General page stuff
// --------------------------------------------------

.page-margin-bottom {
  margin-bottom: 40px;
}
.section-margin{
  margin-bottom:20px;
}
.cms-page-header {
  padding: 30px 0;
  text-align: center;
  @include media-query (sm) {
    padding: 40px 0;
  }
  &.cms-page-header-left{
    text-align:left;
  }
}
.cms-header-actions {
  .btn {
    float: none;
    margin-top: 10px;
    @include media-query (sm) {
      float: right;
    }
  }
}
.cms-well {
  border-radius: 4px;
  background: $well-bg;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #E5E5E5;
  @include media-query (sm) {
    padding: 30px;
    margin-bottom: 30px;
  }
  .tab-content & {
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }
}
.cms-tabs {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  li {
    border:0;
    padding: 0;
    display: table-cell;
    a {
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      display: block;
      padding: 16px 10px;
      text-align: center;
      font-weight: 600;
      position: relative;
      border-bottom: 1px solid #E5E5E5;
      &:hover {
        background: #FFFFFF;
      }
      &:focus {
        outline: none;
      }
      span {
        display: none;
        margin-left: 5px;
        @include media-query(sm) {
          display: inline;
        }
      }
    }
    &.active a {
      border: 1px solid #E5E5E5;
      border-bottom: 1px solid white;
      background: white;
    }
  }
}

.highlight {
  background-color: #deeaf7;
}
