//
// General font styles
// --------------------------------------------------

// Heading styles

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  color: #555555;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h1, .h1 {
  font-size: 34px;
  line-height: 50px;
  @include media-query (sm) {
    font-size: 48px;
    line-height: 70px;
  }
}
h2, .h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 12px;
  @include media-query (sm) {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 15px;
  }
}
h3, .h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
  @include media-query (sm) {
    font-size: 24px;
    line-height: 40px;
  }
}
h4, .h4 {
  font-size: 18px;
  line-height: 28px;
}

// Paragraphs

p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 1.25em;
  @include media-query (sm) {
    font-size: 18px;
    line-height: 30px;
  }
}

// Lists

.list-unstyled {
  list-style: none;
  padding: 0;
}

// Link styling

a {
  color: inherit;
  transition: all 0.2s ease;
  text-decoration: none;
}

// Text modifiers

.small-text {
  font-size: 10px;
  margin-bottom: 5px;
  @include media-query (sm) {
    font-size: 14px;
  }
}
.col-primary {
  color: $brand-primary;
}

.label.upper{
  font-size: 14px;
  text-transform: uppercase;
}

