.cms-header
  .container-fluid
    .cms-nav-brand
      .dropdown.cms-nav-dropdown-toggle
        =link_to('CMS', '#', 'data-toggle' => 'dropdown', :icon => 'caret-down', :icon_last => true, :class => 'cms-nav-brand--logo')
        %ul.cms-nav-dropdown
          %li{:class => !@content_packages && !@activity_items.nil?  ? 'active' : nil}
            =link_to('/content') do
              %i.fa.fa-home
              %span My content
          %li{:class => @content_packages && !@deleted_content_packages  ? 'active' : nil}
            =link_to(content_packages_path) do
              %i.fa.fa-list
              %span Page list
          -if can? :manage, ContentType
            %li{:class => (@content_types && !@activity_items.nil?) ? 'active' : nil}
              =link_to(content_types_path) do
                %i.fa.fa-file-text-o
                %span Templates
          %li{:class => @deleted_content_packages ? 'active' : nil}
            =link_to(deleted_content_packages_path) do
              %i.fa.fa-trash-o
              %span Deleted content
          -if defined?(YmDocuments)
            %li{:class => @documents? 'active' : nil}
              =link_to(ym_documents_engine.documents_path) do
                %i.fa.fa-file-archive-o
                %span Documents
          -if can? :manage, MetaDatum
            %li{:class => @meta_data ? 'active' : nil}
              =link_to(meta_data_path) do
                %i.fa.fa-code
                %span Non CMS meta data
          -if (can? :manage, TagCategory) && (YmContent::config.tags_feature)
            %li{:class => @tag_categories  ? 'active' : nil}
              =link_to(tags_path) do
                %i.fa.fa-tags
                %span Tag Management
          -if (can? :manage, User)
            %li{:class => @users || @user ? 'active' : nil}
              =link_to(cms_users_path) do
                %i.fa.fa-file-text-o
                %span User Management
          %li
            =link_to('/personas') do
              %i.fa.fa-group
              %span Personas

    =link_to("Return to website", '/', :class => 'cms-nav--return-link')
    .cms-nav-user
      .dropdown
        =link_to('', '#', 'data-toggle' => 'dropdown', :icon => 'user', :icon_last => true)
        %ul.cms-nav-user-dropdown
          / -if current_user.blogger?
          /   %li=link_to('Blog posts', '/conversations/blogs?mine=true', :icon => 'pencil-square-o', :icon_first => true)
          %li=link_to('Account settings', edit_user_path(current_user), :icon => 'cog', :icon_first => true)
          %li=link_to('Change password', change_password_path, :icon => 'unlock-alt', :icon_first => true)
          %li=link_to('Sign out', sign_out_path, :method => :delete, :icon => 'sign-out', :icon_first => true)
    -if current_user && @content_package
      -if can? :index, ContentPackage.new
        .cms-nav-controls
          -if @content_package && (action_name.show? || @show_cms_nav_edit_link)
            =link_to('Edit this page', edit_content_package_path(@content_package), :class => 'btn btn-success btn-sm') if can?(:update, @content_package)
            .cms-nav-status
              Status:
              =@content_package.status

.affix-spacer{"data-offset-bottom" => "0", "data-offset-top" => "60", "data-spy" => "affix"}
  %ul.cms-nav-tabs
    %li{:class => !@content_packages && !@activity_items.nil?  ? 'active' : nil}
      =link_to('/content') do
        %i.fa.fa-home
        %span My content
    %li{:class => @content_packages && !@deleted_content_packages  ? 'active' : nil}
      =link_to(content_packages_path) do
        %i.fa.fa-list
        %span Page list
    -if can? :manage, ContentType
      %li{:class => (@content_types && @activity_items.nil?) ? 'active' : nil}
        =link_to(content_types_path) do
          %i.fa.fa-file-text-o
          %span Templates
    -if defined?(YmDocuments)
      %li{:class => @documents? 'active' : nil}
        =link_to(ym_documents_engine.documents_path) do
          %i.fa.fa-file-archive-o
          %span Documents
    -if (can? :manage, TagCategory) && (YmContent::config.tags_feature)
      %li{:class => @tag_categories  ? 'active' : nil}
        =link_to(tags_path) do
          %i.fa.fa-tags
          %span Tag Management

    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %span More
        %i.fa.fa-caret-down

      %ul.dropdown-menu{:role => "menu"}
        -if can? :manage, MetaDatum
          %li{:class => @meta_data ? 'active' : nil}
            =link_to(meta_data_path) do
              %i.fa.fa-code
              %span Non CMS meta data
        -if (can? :manage, User)
          %li{:class => @users || @user ? 'active' : nil}
            =link_to(cms_users_path) do
              %i.fa.fa-file-text-o
              %span User Management
        %li
          =link_to('/personas') do
            %i.fa.fa-group
            %span Personas
        %li
          =link_to(deleted_content_packages_path) do
            %i.fa.fa-trash-o
            %span Deleted content
