.container.page-margin-bottom
  .row
    .col-xs-12
      .cms-page-header
        .row
          .col-sm-6.col-sm-offset-3
            %h1=title 'Non-CMS Meta Data'
          .col-sm-3.cms-header-actions
            -if can? :new, Pig::MetaDatum
              =link_to('Add new meta data', pig.new_meta_datum_path, :icon => 'plus', :class => 'new-content btn btn-success')
  .row
    .tab-content.tab-content-sitemap.relative
      #meta-datas.tab-pane.active
        =render 'pig/meta_data/explanation'
        %table.cms-table
          %thead
            %tr
              %th Page slug
              %th Title
              %th Description
              %th Keywords
              %th Image
              %th{ colspan: 2 }

          %tbody
            -@meta_data.each do |meta_datum|
              %tr
                %td=meta_datum.page_slug
                %td=meta_datum.title
                %td=meta_datum.description
                %td=truncate(meta_datum.keywords)
                %td=image_for(meta_datum, '40x40#', class: 'ml-0') if meta_datum.image
                %td
                  -if can?(:view, meta_datum)
                    =link_to('View', meta_datum)
                %td
                  - if can?(:edit, meta_datum)
                    link_to('Edit', [:edit, meta_datum])

        -if can? :new, Pig::MetaDatum
          =link_to('Add new meta data', pig.new_meta_datum_path, :icon => 'plus', :class => 'btn btn-success pull-right')
