%meta{content: "IE=Edge", :'http-equiv' => "X-UA-Compatible"}
%title=get_meta_title
=csrf_meta_tag
=favicon_link_tag("favicon.ico")
%meta{content: "width=device-width, initial-scale=1", name: "viewport"}
%script{:src => "https://code.jquery.com/jquery-1.11.2.min.js"}
=javascript_include_tag("pig/application")
=stylesheet_link_tag("pig/application/pig", media:'all')
=stylesheet_link_tag("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", media: 'all')
%script{:src => "//use.typekit.net/qse7god.js"}
:javascript
  try{Typekit.load();}catch(e){}
