.cms-header
  .container-fluid
    .cms-nav-brand
      .dropdown.cms-nav-dropdown-toggle
        =link_to('CMS', '#', 'data-toggle' => 'dropdown', :icon => 'caret-down', :icon_last => true, :class => 'cms-nav-brand--logo')
        %ul.cms-nav-dropdown

          -navigation_items.each do |item|
            %li{ class: item[:is_active] }
              =link_to(item[:url]) do
                %i{class: "fa fa-#{item[:icon]}"}
                %span=item[:title]

    =link_to('Return to website', '/', class: 'cms-nav--return-link')
    .cms-nav-user
      .dropdown
        =link_to('', '#', 'data-toggle' => 'dropdown', :icon => 'user', :icon_last => true)
        %ul.cms-nav-user-dropdown
          %li=link_to('Account settings', pig.edit_manage_user_path(current_user), icon: 'cog', icon_first: true)
          %li=link_to('Sign out', pig.destroy_user_session_path, method: :delete, icon: 'sign-out', icon_first: true)
    -if current_user && @content_package
      -if can? :index, Pig::ContentPackage.new
        .cms-nav-controls
          -if @content_package && (action_name == 'show' || @show_cms_nav_edit_link)
            =link_to('Edit this page', pig.edit_content_package_path(@content_package), class: 'btn btn-success btn-sm') if can?(:update, @content_package)
            .cms-nav-status
              Status:
              =@content_package.status

-max_navigation_items = 4
-navigation_items.each_with_index do |item, index|
  =content_for index <= max_navigation_items ? :main_items : :more_menu_items do
    -if item[:visible] ? item[:visible] : true
      %li{ class: item[:is_active].call(self) ? 'active' : '' }
        =link_to(item[:url]) do
          %i.fa{ class: "fa-#{item[:icon]}" }
          %span=item[:title]

.affix-spacer{ data: { offset_bottom: '0', offset_top: '60', data_spy: 'affix' } }
  %ul.cms-nav-tabs
    = yield :main_items
    - if navigation_items.length > max_navigation_items
      %li.dropdown
        %a.dropdown-toggle{ 'aria-expanded' => 'false', 'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
          %span More
          %i.fa.fa-caret-down
        %ul.dropdown-menu{ role: 'menu' }
          =yield :more_menu_items
