%meta{content: "IE=Edge", :'http-equiv' => "X-UA-Compatible"}
%title=get_meta_title
=csrf_meta_tag
=favicon_link_tag("favicon.ico")
%meta{content: "width=device-width, initial-scale=1", name: "viewport"}
=stylesheet_link_tag("pig/application", media:'all')
- Pig::configuration.additional_stylesheets.each do |stylesheet|
  =stylesheet_link_tag stylesheet
=stylesheet_link_tag("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", media: 'all')
%script{:src => "//use.typekit.net/qse7god.js"}
:javascript
  try{Typekit.load();}catch(e){}
