!!!5
%html
  %head
    =render('layouts/ym_content/head')
    <%= csrf_meta_tags %>
  -body_tag do
    .cms-wrapper
      =render("layouts/ym_content/header")
      =yield
      .push
    =render("layouts/ym_content/footer")
