<!DOCTYPE html>
<html>
<head>
  <title>Pig</title>
  <%= stylesheet_link_tag    "pig/application", media: "all" %>
  <%= javascript_include_tag "pig/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
