!!!5
%html
  %head
    =render('layouts/pig/head')
    =csrf_meta_tags
  -body_tag do
    .cms-wrapper
      .container
        .row-fluid
          .col-sm-6.col-sm-offset-3
            =render 'layouts/pig/flash'
            =yield
            .push.col
