=semantic_form_for([pig, :admin, :manage, @user]) do |form|
  =form.inputs do
    .half-input
      =form.input :first_name
    .half-input
      =form.input :last_name
    .clearfix
    =form.input :email
    -if can? :manage_role, @user
      =form.input :role, :as => :select, :collection => Pig::User.available_roles.map{ |r| [r.to_s.humanize, r] }, :include_blank => false
    =form.input :password
    =form.input :password_confirmation
    =form.input :bio, :input_html => {:rows => 5, :class => 'span4'}
    =form.input :image, :as => :image
    =form.input :active
  =hidden_field_tag :return_to, params[:return_to] if params[:return_to]
  =form.actions do
    =form.action :submit, :label => 'Save', :button_html => {:class => 'btn btn-success pull-right'}
    .btn=link_to('View all users', '/cms/cms_users')
